body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "儷黑 Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; 
  text-align: left;
  padding: 0;
}
a {
  color: #e8280e;
}
a:hover {
  text-decoration: none;
}
.hide,.required-message{
  display:none;
}
.background-div{
  background: url(../img/amabg.png) no-repeat 100% 45px;
  width: 960px;
  height: 368px;
  position: fixed;
  z-index: -99;
  background-size: 368px;
  margin: 0 auto;
}
.all-container{
  /*background: url(../img/amabg.png) no-repeat 100% 0;*/
  width:960px;
  margin:0 auto;
}
.ss-form-container {
  border: 0;
  float: left;
  width:670px;
  padding:0 45px;
  /*margin: 0 auto;*/
}
.ss-header-image{
  background: url(../img/ama-logo-background.jpg) no-repeat;
  width:200px;
  height:740px;
  float:left;
  position: relative;
}
.ss-header-image iframe{
  border:none; 
  overflow:hidden; 
  width:200px; 
  height:80px;
  position: absolute;
  bottom: 0;
}
.ss-form-desc {
  margin-top: 80px;
  font-size: 12pt;
  width:320px;
  border-top: 8px #000 solid;
  padding-top:18px;
}
.ss-form-title {
  display:none;
}

.ss-q-title {
  font-size: 16pt;
  font-weight: normal;
  margin-bottom: 2px;
  padding-top: 3px;
  color: #000000;
}
.ss-q-help {
  font-size: 9pt;
  margin-bottom: 10px;
}
.ss-form-entry{
  /*width: 300px;*/
  float: left;
  padding-right: 20px;
  padding-top:10px;
}
.clear-both{
  clear:both;
}

.ss-form-entry input, 
.ss-form-entry textarea, 
.ss-form-entry select, 
#ss-submit:hover {
  border: 1px solid #000;
  background: rgba(1,1,1,0);
}
.ss-form-entry input {
  padding: 2px 4px;
}
.ss-form-entry textarea {
  width: 100%;
  margin-bottom: 0;
}
.ss-form-entry li{
  float:left;
  list-style: none;
}
.ss-choices{
  margin-left: -40px;
}

.width-all .ss-form-entry{
  width:100%;
}

.ss-required-asterisk {
  font-size: 8pt;
  color: #555555;
}
.ss-q-title .ss-required-asterisk {
  font-size: 16pt;
  padding: 0;
}

.ss-powered-by {
  padding-top: 15px;
  font-size: 8pt;
  color: #aaaaaa;
  border-top: 1px solid #cccccc;
}
.ss-scalerow {
  padding: 2px 2px 2px 0;
  margin: 0;
}
div.errorbox-bad .ss-q-title {
  border: none;
}
h2.ss-section-title {
  background-color: transparent;
}
div.ss-submit div.ss-form-entry {
  background: none;
  border: none;
}
#ss-submit{
  background: #fff;
  border:1px #fff solid;
}
#ss-submit:hover{
  
}

iframe.map{
  width:960px;
  height:600px;
  margin:0 auto;
  border: none;
}

#map{
  clear:both;
  height:800px;
}
.load{
  position: absolute;
  z-index: 900;
  left: 50%;
  top: 50%;
}
